{% extends "base.html" %}
{% block head_title %}Staff Profiles {{ block.super}}{% endblock head_title %}

{% block content %}
<h1>Employee List using reverse url. (recommended)</h1>
<br/>
<ul>
    {% for name in object_list %}

    <li><a href="{{ name.get_absolute_url }}">{{ name }}</a></li>

    {% endfor %}

    <h1>This is the second list not using a reverse url</h1>

    <!--wonder why there is a second list?..2 diff ways for reverse lookup. get_absolute is the best-->

    {% for obj in object_list %}

        <li><a href="{% url 'staff:list' %}">{{ obj }}</a></li>

    {% endfor %}
</ul>

{% endblock %}

